{% extends _self|replace({'bootstrap-3-horizontal-form.twig': ''}) ~ 'form-elements.twig' %}

{#
    Render form

    @param Form - form  The form to render
#}
{% macro form_open(form) %}
<form method="{{ form.method|default('post') }}" action="{{ form.action }}" id="{{ form.name }}" enctype="
    {{- form.type|default('application/x-www-form-urlencoded') }}" accept-charset="{{ form.charset }}" class="form-horizontal">
{% endmacro %}

{#
    Render field row

    @param Field - field  The field to render
#}
{% macro field_row(field) %}
    <div class="form-group">
    {% if field.label %}
        <label{% if field.id %} for="{{ field.id }}"{% endif %} class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-9">
    {% else %}
        <div class="col-sm-offset-3 col-sm-9">
    {% endif %}
        {% set attr = {"class": "form-control"} %}
        {% if field.type == 'hidden'%}{{- _self.hidden(field) -}}{{ field.value }}
        {% elseif field.type == 'button' %}{{- _self.button(field, {"class": "btn btn-primary"}) -}}
        {% elseif field.type == 'checkbox' %}{{- _self.checkbox(field) -}}
        {% elseif field.type == 'combobox' %}{{- _self.combobox(field) -}}
        {% elseif field.type == 'file' %}{{- _self.file(field, attr) -}}
        {% elseif field.type == 'radio' %}{{- _self.radio(field, attr) -}}
        {% elseif field.type == 'select' %}{{- _self.select(field, attr) -}}
        {% elseif field.type == 'textarea' %}{{- _self.textarea(field, attr) -}}
        {% else %}{{- _self.input(field, attr) -}}{% endif %}
        </div>
    </div>
{% endmacro %}

{#
    Render a file upload field

    @param Field - field  The field to render
#}
{% macro file(field) %}
    <label style="position: relative">
        <input type="file" name="{{ field.name }}" id="{{ field.id }}" style="position: relative; z-index: 100; opacity: 0;"
               onchange="document.getElementById({{ field.id }}_input_helper).value = this.value.replace(/\w:\\[^\\]+\\/, '')">
        <input type="text" id="{{ field.id }}_input_helper" style="position: absolute; left: 0" value="{{ field.value }}" class="form-control">
        <button class="btn btn-primary" type="button" style="position: absolute; right: 5px;">{{ field.label|default('upload') }}</button>
    </label>
{% endmacro %}

{#
    Render button row

    @param Field[] - fields  The buttons to display
#}
{% macro button_row(fields) %}
    <div class="col-sm-offset-3 col-sm-9">
        {% for field in fields %}
            {{- _self.button(field) }}
        {% endfor %}
    </div>
{% endmacro %}

{#
    End to opened form
#}
{% macro form_close() %}
</form>
{% endmacro %}