{#
    Open table.

    @param Table - table  The table to display.
#}
{% macro tabular_open(table) %}
    <table class="{% if (table.attr.class) %} {{ table.attr.class|join(' ') }}"{% endif %}">
    {% if table.title %}<caption>{{ table.title }}</caption>{% endif %}
{% endmacro %}

{#
    Render table headers.

    @param Column[] - columns  The columns to display.
#}
{% macro header_row(columns) %}
    <thead>
        <tr>
            {% for column in columns %}
                <th>{% if column.sortable %}<a href="{{ column.sortingUrl(column) }}">{{ column.display|raw }}</a>{% else %}{{ column.display|raw }}{% endif %}</th>
            {% endfor %}
        </tr>
    </thead>
{% endmacro %}

{#
    Render data rows.

    @param array|object[] - result   The rows to display.
    @param Column[]|null  - columns  The columns to filter display.
#}
{% macro data_rows(result, columns) %}
    <tbody>
        {% for row in result %}{{ _self.data_row(row, columns) }}{% endfor %}
    </tbody>
{% endmacro %}

{#
    Render table row.

    @param array|object  - row      The row to display.
    @param Column[]|null - columns  The columns to filter display.
#}
{% macro data_row(row, columns) %}
    <tr>
    {% if columns %}
    {% for column in columns %}
        <td{% if (column.attr.class) %} class="{{ column.attr.class|join(' ') }}"{% endif %}>{{ attribute(row, column.name)|raw }}</td>
    {% endfor %}
    {% else %}
    {% for cell in row %}
        <td>{{ cell|raw }}</td>
    {% endfor %}
    {% endif %}
    </tr>
{% endmacro %}

{#
    Close the opened table.
#}
{% macro tabular_close() %}
    </table>
{% endmacro %}

